{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'IbrowsSonataTranslationBundle:Core:clear_cache_button.html.twig' %}
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
    </div>
{% endblock %}